.navbar_container {
    width: 100%;
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
}

.navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar_icon img {
    margin-top: 10px;
    height: 75px;
}

.nav_item {
    color: white;
    text-decoration: none;
}

.navbar_home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b76c;
    font-weight: bold;
    border-radius: 6px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar_home:hover {
    background-color: #009e56;
}