.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.atas {
    width: 1600px;
    background-color: #D9D9D9;
    padding: 32px;
    border-radius: 16px;
    gap: 24px;
    display: flex;
    align-items: center;
}

.name {
    flex-grow: 1;
}

.poto {
    height: 250px;
    width: 250px;
    background-color: #01BF61;
    border-radius: 16px;
}


.bulat {
    height: 150px;
    width: 150px;
    background-color: #9F9F9F;
    border-radius: 100px;
}

.bulat>img {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

.bawah {
    background-color: #9F9F9F;
    margin-top: 16px;
    border-radius: 16px;
    justify-content: left;
    align-items: left;
}

.tutorial {
    height: 330px;
    width: 1537px;
    background-color: #D9D9D9;
    margin: 27px;
    display: flex;
    border-radius: 16px;
}

.log {
    width: 650px;
    background-color: #01BF61;
    margin: 16px;
    border-radius: 16px;
}

.log>img {
    height: 300px;
    width: 300px;
    border-radius: 16px;
}

.container_bar {
    width: 150px;
    background-color: #9F9F9F;
    margin: 16px;
    border-radius: 16px;
    display: flex;
    text-align: center;
    justify-content: end;
    flex-direction: column;
}

.proggress_bar {
    width: 150px;
    background-color: #01BF61;
    border-radius: 0 0 16px 16px;
}