.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.atas {
    height: 330px;
    width: 1600px;
    background-color: #D9D9D9;
    margin-top: 32px;
    border-radius: 16px;
}

.poto {
    height: 250px;
    width: 250px;
    background-color: #01BF61;
    margin-top: 43px;
    margin-left: 78px;
    border-radius: 16px;
}

.name {
    height: 75px;
    width: 1200px;
    background-color: #01BF61;
    margin-top: -250px;
    margin-left: 350px;
    border-radius: 16px;
}

.alamat {
    height: 75px;
    width: 980px;
    background-color: #01BF61;
    margin-top: 16px;
    margin-left: 350px;
    border-radius: 16px;
}

.id {
    height: 75px;
    width: 980px;
    background-color: #01BF61;
    margin-top: 10px;
    margin-left: 350px;
    border-radius: 16px;
}

.bulat {
    height: 150px;
    width: 150px;
    background-color: #9F9F9F;
    margin-top: -150px;
    margin-left: 1380px;
    border-radius: 100px;
}

.bulat>img {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

.bawah {
    height: 500px;
    width: 1600px;
    background-color: #D9D9D9;
    margin-top: 16px;
    border-radius: 16px;
    justify-content: left;
    align-items: left;
}

.level {
    height: 75px;
    width: 1200px;
    background-color: #01BF61;
    margin-top: 40px;
    margin-left: 78px;
    border-radius: 16px;
}

.approve {
    height: 75px;
    width: 150px;
    background-color: #01BF61;
    margin-top: 40px;
    border-radius: 16px;
    margin-left: 1300px;
}