.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title>p {
    font-size: 20px;
    font-weight: bold;
}

.sidebar a {
  display: block;
  color: black;
  padding: 6px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}