*{
    padding: 0;
}

.container_nav {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.img_logo {
    padding: 12px;
    height: 80px;
    width: 80px;
}

.menu_nav {
    width: 720px;
    margin: -8px;
    margin-right: 0px;
    display: flex; 
    justify-content: center;
    border-radius: 50px 0px;
}

.menu_nav > ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: hsl(226, 48%, 38%);
}

.nav_item{
    color: black;
    text-decoration: none;
}
