.container {
    padding: 64px;
    background-color: #c2f5db;
    display: flex;
    justify-content: center;
    font-family: poppins, sans-serif;
}

/* Left */
.left {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 691px;
    width: 492px;
    text-align: center;
    box-shadow: 0px 0px 0px grey;
    box-shadow: 0.8rem 0.5rem 8px grey;
    border-radius: 50px 0px 0px 0px;
}

.left>p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01BF61;
    color: white;
    height: 69px;
    width: 220px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 40px;
}

.login_input_name {
    margin-bottom: 8px;
}

.title {
    text-align: left;
    margin-bottom: 1%;
}

/* Place For Login */
.placeforname {
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 2px 6px rgb(196, 196, 196) inset; */
    height: 34px;
    width: 299px;
}

.placeforpassword {
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 2px 6px rgb(196, 196, 196) inset; */
    height: 34px;
    width: 299px;
}

.placeforpassword_p>p {
    display: flex;
    justify-content: flex-end;
    margin-top: -1px;
    font-size: 12px;
    margin-bottom: 32px;
}

.placeforpassword_p>p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #01BF61;
}


/* Login Button */
.button {
    background-color: #01BF61;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 299px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #00a45f;
}

.button>p {
    color: white;
    font-size: 20px;
    margin: auto;
}

/* Error Message */
.error_text_box>p {
    margin-bottom: 8px;
    visibility: hidden;
}

.error_text {
    color: red;
    margin-bottom: 8px;
}

/* Right */
.right {
    background-color: #01BF61;
    height: 691px;
    width: 492px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 0px grey;
    box-shadow: 0.5rem 0.5rem 8px grey;
    border-radius: 0px 0px 50px 0px;
}

.logo {
    background-color: white;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.logo>img {
    width: 100%;
    margin-top: 16px;
}

/* Title Right */
.titlejudul>p {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin: auto;
}

.titledesc>p {
    color: white;
    font-size: 16px;
}

.hijau {
    color: #01BF61;
}

.hijau:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dont {
    margin-top: 40px;
    margin-bottom: -32px;
    font-size: small;
}

.medsos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.medsos {
    height: 53px;
    width: 53px;
    border: black 1px solid;
    border-radius: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 {
    height: 33px;
    width: 33px;
}

.photo2 {
    height: 40px;
    width: 40px;
}

.photo3 {
    height: 42px;
    width: 42px;
}