.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title {
    font-size: 4.5rem;
    font-weight: bold;
    color: #00b76c;
    margin-top: -50px;
}

.options {
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
    margin-top: -50px;
}

.option {
    width: 378px;
    height: 483px;
    background-color: #BDBDBD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.btn {
    margin-top: 40px;
    background-color: #00b76c;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.2s;
}

.btn:hover {
    background-color: #00a45f;
}